/*变量部分*/
/*常用间距变量*/
$num5:5px;
$num10:10px;
$num15:15px;
$num20:20px;
$num25:25px;
$num30:30px;
/*常用字体大小变量*/
$fs10:10px;
$fs12:12px;   
$fs14:14px;
$fs16:16px;
$fs18:18px;
$fs20:20px;
$fs24:24px;
$fs26:26px;

/*常用色值,1-11是echart的色值*/
$black:#000;
$white: #fff;
$red:#F44336;
$clbtn:#358BFE;
$clfont:#282828;
$clborder:#DCDCDC;
$clbg:#f4f4f7;
$clline1:#3BABFF;
$clline2:#00CF8F;
$clline3:#FFDD5A;
$clline4:#32C5E9;
$clline5:#37A2DA;
$clline6:#9FE6B8;
$clline7:#67E0E3;
$clline8:#96BFFF;
$clline9:#8378EA;
$clline10:#FB7293;
$clline11:#FF9F7F;